/* .Hi{
    background-color: red;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    display: block;
} */
 .animation {
    background-color: #ff0000;
    height: 200px;
    animation-name: cop;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
 }
 @keyframes cop {
    from {
        background-color: red;
    }
    to {
        background-color: blue;
    }
 }